container_commands:
  00_wsgireplace:
    command: 'cp wsgi.conf ../wsgi.conf'
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
//  02_makemigrations:
//    command: "python manage.py makemigrations"
//    leader_only: true
  03_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  04_createadmin:
    command: "python createadmin.py"
    leader_only: true
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: elkyrtools/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: elkyrtools.settings